.gallery_container{
	width: 1010px;
	padding: 20px 70px 50px;
	background-color: rgba(255,255,255,0.6);
}
.tab{
	padding: 10px 0;
	border-bottom: 2px dashed #ccc;
}
.tab i{
	color: green;
}
.tab a{
	display: inline-block;
	margin: 0 5px;
}
.tab a.selected,.tab a:hover{
	color: green;
	text-decoration: underline;
}
.pome{
	padding: 20px;
}
.pome p{
	font-size: 24px;
	font-family: '方正启体简体';
	text-indent: 2em;
}
#dowebok li{
	cursor: pointer;
}