/*通用设置*/
.wrap .title{
	width: 80%;
	margin: 0 auto;
	padding: 10px 0;
	text-align: center;
	background: url(../images/tips/title_bg.png) center center no-repeat;
	background-size: contain;
	margin-bottom: 5px;
}
.wrap .title a{
	font-size: 30px;
	font-weight: bold;
}
.wrap .intro{
	width: 60%;
	margin: 0 auto;
	text-align: center;
	font-weight: 400;
	color: rgba(0,0,0,0.5);
	margin-bottom: 30px;
}

/*banner*/
.banner{
	width: 100%;
	height: 600px;
	overflow: hidden;
	position: relative;
}
.banner_container{
	width: 13321px;
	height: 600px;
	position: absolute;
	top: 0;
}
.banner_item{
	width: 1903px;
	height: 600px;
}
.banner_1{
	background: url(../images/index/banner/banner_1.jpg) center center no-repeat;
	background-size: cover;
}
.banner_2{
	background: url(../images/index/banner/banner_2.jpg) center center no-repeat;
	background-size: cover;
}
.banner_3{
	background: url(../images/index/banner/banner_3.jpg) center center no-repeat;
	background-size: cover;
}
.banner_4{
	background: url(../images/index/banner/banner_4.jpg) center center no-repeat;
	background-size: cover;
}
.banner_5{
	background: url(../images/index/banner/banner_5.jpg) center center no-repeat;
	background-size: cover;
}
.banner .arrow{
	width: 50px;
	height: 600px;
	position: absolute;
	right: 0;
	top: 50%;
	margin-top: -300px;
	padding: 10px;
	background: url(../images/index/banner/arrow.png) 40px center no-repeat;
	cursor: pointer;
}
.banner .arrow_left{
	transform: rotate(180deg);
	left: 0;
}
.banner .arrow:hover{
	background: url(../images/index/banner/arrow.png) 40px center no-repeat,
	linear-gradient(to right, transparent 10%, rgba(100,100,100,0.2) , rgba(100,100,100,0.25));
}

/*category*/
.category{
	width: 100%;
	margin: 50px 0; 
}
.category .category_container{
	width: 100%;
	display: flex;
	justify-content: space-around;
	flex-wrap:wrap;
}
.category .category_item{
	width: 340px;
	position: relative;
	margin-bottom: 15px;
	overflow: hidden;
	cursor: pointer;
}
.category .category_item img{
	width: 100%;
	height: 250px;
	vertical-align: bottom;
}
.category .category_item .name{
	position: absolute;
	top: 0;
	background-color: #8BC34A;
	font-size: 18px;
	padding: 5px 10px;
	color: #fff;
}
.category .category_item .item_intro{
	width: 320px;
	background-color: rgba(255,255,255,0.6);
	position: absolute;
	top: 250px;
	padding: 20px 10px;
	text-indent: 1rem;
	transition: all 0.5s ease;
}
.category .category_item:hover .item_intro{
	top: 50%;
	margin-top: -60px;
}
.category .category_item .repre{
	display: none;
}


/*news*/
.news,
.knows{
	width: 100%;
	height: auto;
	margin: 50px 0;
}
.news .news_container,
.knows .knows_container{
	width: 100%;
	display: flex;
	justify-content: space-around;
	flex-wrap:wrap;
	position: relative;
	/*background-color: pink;*/
}
.news .news_container .news_items,
.knows .knows_container .knows_items{
	width: 340px;
	position: relative;
	margin-bottom: 15px;
	cursor: pointer;
	transition: all 0.5s;
	padding: 5px ;
	background-color: #fff;
}
.news .news_container .news_items:hover,
.knows .knows_container .knows_items:hover{
	box-shadow: 0 3px 5px rgba(0,0,0,0.4);
}
.news .news_items img,
.knows .knows_items img{
	width: 100%;
	height: 250px;
	vertical-align: bottom;
}
.news .news_items .news_name,
.knows .knows_items .knows_name{
	background-color: #fff;
	font-weight: bold;
	font-size: 17px;
	overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap
}
.news .news_items .news_date,
.knows .knows_items .knows_date{
	background-color: #fff;
	font-size: 12px;
	color: #666;
}
.news .more,
.knows .more{
	display: block;
	position: absolute;
	right: -25px;
	top: 50%;
	margin-top: -37px;
	cursor: pointer;
	animation: none;
	/*background-color: pink;*/
}
.news .more:hover,
.knows .more:hover{
	animation: getMore 1s infinite;
}
@keyframes getMore{
	0%   {right:-25px;}
	50%  {right:-40px;}
	100% {right:-25px;}
}

/*footer*/
footer{
	width: 100%;
	background-color: #333;
}
footer .footer_top{
	padding: 50px 0;
	display: flex;
	justify-content: space-around;
}
footer .footer_top ul li a,.item_text,.qrcode{
	display: block;
	color: #ccc;
	font-weight: 400;
	padding: 10px 0;
}
.qrcode{
	text-align: center;
}
.qrcode img{
	width: 175px;
	height: 175px;
	display: block;
	margin-bottom: 10px;
}
footer .footer_top ul li a:hover{
	color: #efefef;
}
.item_title{
	color: #efefef;
	font-size: 20px;
	margin-bottom: 20px;
}